* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--transition: cubic-bezier(.2, .9, 0, 1);
}
body {
	background-color: #5e3939;
}
.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50%;
	width: 100%;
	padding-bottom: 100px;
}
.items {
	display: flex;
	gap: .2rem;
	perspective: calc(var(--index) * 40);
}
.item {
	background-color: #5e3939;
	width: calc(var(--index) * 5);
	height: calc(var(--index) * 12);
	background-size: cover;
	background-position: center;
	cursor: pointer;
	transition: transform 1.2s var(--transition), filter 1s var(--transition), width 2s var(--transition);
	will-change: transform, filter;
	filter: grayscale() brightness(.3);
}
.item::before, .item::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 100%;
	right: calc(var(--index) * -1);
}
.item::after {
	left: calc(var(--index) * -1);
}
.items .item:hover {
	transform: translateZ(calc(var(--index) * 10));
	filter: inherit;
}

/* Право */

.items .item:hover + * {
	transform: translateZ(calc(var(--index) * 7.5)) rotateY(35deg);
	filter: inherit;
	z-index: -1;
}
.items .item:hover + * + * {
	transform: translateZ(calc(var(--index) * 4.6)) rotateY(30deg);
	filter: inherit;
	z-index: -2;
}
.items .item:hover + * + * + * {
	transform: translateZ(calc(var(--index) * 2.4)) rotateY(25deg);
	filter: inherit;
	z-index: -3;
}
.items .item:hover + * + * + * + * {
	transform: translateZ(calc(var(--index) * .4)) rotateY(15deg);
	filter: inherit;
	z-index: -3;
}

/* Лево */

.item:has(+ :hover) {
	transform: translateZ(calc(var(--index) * 7.5)) rotateY(-35deg);
	filter: inherit;
}
.item:has(+ * + :hover) {
	transform: translateZ(calc(var(--index) * 4.6)) rotateY(-30deg);
	filter: inherit;
}
.item:has(+ * + * + :hover) {
	transform: translateZ(calc(var(--index) * 2.4)) rotateY(-25deg);
	filter: inherit;
}
.item:has(+ * + * + * + :hover) {
	transform: translateZ(calc(var(--index) * .4)) rotateY(-15deg);
	filter: inherit;
}

.items .item:active, .items .item:focus {
	width: 28vw;
	transform: translateZ(calc(var(--index) * 10));
	filter: inherit;
	z-index: 100;
	margin: 0 .5vw;
}
